*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header{
    text-align: right;
    width: 100%;
    height: 60px;
    background-color:white;
    display:inline-block;
    justify-content: space-between;
    margin-top: 5%;
    padding-top: 1.5%;
    
    
}

.logo-imagem{
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 25px;
    text-align: left;
}
.container-logo{
    display: flex;
    align-items: center;

}
.logo-texto{
    margin-right: 20px;
    
}
body{
    background-image: linear-gradient(#4682B4,#98FB98,#2F4F4F);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}
p{
    text-align: center;
}
.menu li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;

  }


    
