body {
    background-color: rgb(189, 196, 196);
}
h1{
    text-align: center;
    color: black;
}
    p{
        text-align: left; 
        color: rgb(247, 243, 243);size: 0cm="55";
    }
    ul{
        text-align:left;
    }