*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    

}
:root{
    text-align: center;
    --cor--fundo:#2E8B57;
    --cor--hover:#282c29;
    --cor--primaria:#ffffff;
    
    
}

.dp-menu ul{
    list-style-type: none;
    padding: 0;
    border-bottom-left-radius:25px;
}

.dp-menu ul{
    background-color: var(--cor--fundo);
}

.dp-menu ul li{
 display: inline;
 position: relative;
}

.dp-menu ul li a {
color: var(--cor--primaria);
text-decoration: none;
display: inline-block;
padding: 10px;
transition: background .3s;
height: 65px;

}

.dp-menu ul li a:hover{
    background-color: var(--cor--hover);
}

/*sub menu*/
.dp-menu ul ul{
   display: none;
   position: absolute;

}    

.dp-menu ul li:hover ul{
    display: block;
    opacity: 0;
}

.dp-menu ul ul{
   width: 150px;
}
.dp-menu ul ul li a{
    display:block;
}

    
body{
    background-color:#000000;
    
}


div#logo img{left: 30px;
position: absolute;
max-width: 115px;
top: 0px;
}

ol{right: 30px;
position: absolute;
max-width: 300px;
top: 0px;
color: rgb(255, 255, 255);
font-family: 'Segoe UI';

}

li{
    font-family: 'Segoe UI';
    size: 50px;
}
h1{
    font-family: 'Segoe UI';
    font-size: 35px;
}

div#contatoimg img{center: 30px; right: 80px;
    position: relative; 
    max-width: 50px;
   
    }
    div#contato2img img{
        position: relative; bottom: 55px; 
        max-width: 50px;

    }
    div#contato3img img{
        position: relative; bottom: 105px; left:77px;
        max-width: 45px;

    }

    div#logo2 img{left:100px;
        position: absolute;
        max-width: 115px;
        top: 0px;
        
    }
    div#foto img{left:700px;
        position: absolute;
        max-width: 550px;
        top: 190px;